<div class="page-header">
    <h1>User Registration</h1>
</div>

<form ng-submit="register.regUser(regData);">
    <label>User Name</label>
    <input class="form-control" type="text" name="username" ng-model="register.regData.username">
    <br>
    <label>Password</label>
    <input class="form-control" type="password" name="password" ng-model="register.regData.password">
    <br>
    <label>Email</label>
    <input class="form-control" type="text" name="email" ng-model="register.regData.email">
    <br>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
<br>
<div class="jumbotron text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading........</p>
</div>

<br>

<div class="row show-hide-message" ng-show="register.successMsg">
    <div class="alert alert-success">{{register.successMsg}}</div>
</div>

<div class="row show-hide-message" ng-show="register.errorMsg">
    <div class="alert alert-danger">{{register.errorMsg}}</div>
</div>